h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin:0px;
}

body {
    margin: 0;
    font-family: 'Bitcount Grid Single', monospace;
    font-size: 20px;
    background-color: #7087a5;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.back {
    background-color: #c8c8c888;
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    animation: slideDown 1s ease-out;
    border-bottom: solid 2px #ffffff46;
    position: sticky;
    top : 0;
    z-index:1000;
}

.logo {
    width: 50px;
}

.link a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 25px;
}

.link a:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff54;
    border-radius: 25px;
    transition: all .5s ease;
}

.link button {
    background-color: #ecb396;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.link button:hover {
    background-color: rgb(205, 156, 131);
}

button {
    cursor: pointer;
    font-family: 'Bitcount Grid Single', monospace;
    font-size: 20px;
}

/* page content */

input {
    border-radius: 15px;
    padding: 10px;
    font-family: 'Bitcount Grid Single', monospace;
    font-size: 20px;
    border: none;
    margin-right: 10px;
    transition: all .5s ease;

}

input:focus {
    outline: none;
    box-shadow: 3px 4px 5px #ffffff88;
}

.first {
    display: flex;
    background-color: #7087a5;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
    animation: appear .5s ease-out;
    margin-top: 10px;
}

.first button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    transition: all .3s ease;
}

.first button:hover {
    box-shadow: 0px 0px 5px 3px #ecb396;
    border-radius: 50%;
}

.first button img {
    width: 60px;
    object-fit: contain;
}


.font2 {
    font-family: 'Playwrite GB J', cursive;
    font-size: 20px;
    font-weight: 300;
}

.welcome {
    display: flex;
    flex-direction: column;
    animation: appear .5s ease-out;
    background-color: #7087a5;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    font-size: 50px;
}

/* 1 */
.box-type-1 {
    background-color: #c8c8c888;
    backdrop-filter: blur(100px);
    border-radius: 15px 0 0px 15px;
    flex: 1 1 400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    animation: slideInRight 1s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 10px 10px #94949488;
    border: solid 2px #ffffff46;
    border-right: none;
    margin-left: 2%;
}

.box-type-1:hover {
    transform: translateY(-8px);
    box-shadow: 10px 15px 20px #ffffffa5;
}

.box-type-1:hover .r1 {
    opacity: 1;
    transition: opacity 1s ease .15s;
}

.box-type-1 div {
    padding: 20px;
    font-size: clamp(20px, 3vw, 35px);
}

.box-type-1 img:not(.r1) {
    height: auto;
    max-height: 250px;
    max-width: 45%;
    object-fit: cover;
    border-radius: 15px 0 0px 15px;
}

.r1 {
    transform: scaleX(-1);
    height: 50px;
    display: flex;
    margin: 20px;
    align-self: flex-end;
    position: absolute;
    right: 0px;
    opacity: 0;
}


/* 2 */

.box-type-2 {
    background-color: #c8c8c888;
    backdrop-filter: blur(100px);
    border-radius: 0 15px 15px 0;
    flex: 1 1 400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    animation: slideInLeft 1s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 10px 10px #94949488;
    border: solid 2px #ffffff46;
    border-left: none;
    margin-right: 2%;
}

.box-type-2:hover {
    transform: translateY(-8px);
    box-shadow: 10px 15px 20px #ffffffa5;
}

.box-type-2:hover .r2 {
    opacity: 1;
    transition: opacity 1s ease .15s;
}

.box-type-2 div {
    padding: 20px;
    font-size: clamp(20px, 3vw, 35px);
}

.box-type-2 img:not(.r2) {
    height: auto;
    max-height: 250px;
    max-width: 45%;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
}

.r2 {
    transform: scaleX(1);
    height: 50px;
    display: flex;
    margin: 20px;
    align-self: flex-end;
    position: absolute;
    opacity: 0;
}


.container {
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.o1 {
    padding-bottom: 50px;
    background: transparent;
}

/* حركة الدخول من اليمين */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        /* الكارت يبدأ بره الشاشة تماماً من اليمين */
        opacity: 0;
        /* يكون شفاف مش باين */
    }

    to {
        transform: translateX(0);
        /* يرجع لمكانه الطبيعي بالملي */
        opacity: 1;
        /* يظهر بوضوح كامل */
    }
}

/* حركة الدخول من الشمال */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        /* يبدأ بره الشاشة من الشمال */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* يرجع لمكانه الطبيعي مع تحريك بسيط لليسار */
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.space {
    height: auto;
    display: flex;
    flex-direction:column;
    flex-grow: 1;
    background-color: #ffffff;
    background-image: url(logo/containe.jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: 0 0 10px 10px #ffffff8c;
}

.footer {
    background-color: #c8c8c888;
    backdrop-filter: blur(20px);
    padding: 10px;
    margin-top: 10%;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;
    padding: 0 1% 0 1%;
    min-height:15vh;
}

.social-links img {
    width: 30px;
    margin-top: 10px;
}