h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
}

body {
    margin: 0;
    font-family: 'Bitcount Grid Single', monospace;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    background-image: url('logo/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.back {
    background-color: #c14a0e88;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    animation: slideDown 1s ease-out;
}

.logo {
    width: 50px;
}

.link a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

.link a:hover {
    color: rgb(224, 224, 224);
    background-color: #75351554;
    border-radius: 25px;
}

.link button {
    background-color: #ecb396;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.link button:hover {
    background-color: rgb(205, 156, 131);
}

button {
    cursor: pointer;
    font-family: 'Bitcount Grid Single', monospace;
    font-size: 20px;
}

/* page content */

input {
    border-radius: 15px;
    padding: 10px;
    font-family: 'Bitcount Grid Single', monospace;
    font-size: 20px;
    border: none;
    margin-right: 60px;
    transition: all .5s ease;

}

input:focus {
    outline: none;
    box-shadow: 3px 4px 5px #c14a0e88;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    animation: appear 1s ease-out;
}

.first button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    transition: all .5s ease;
}

.first button:hover {
    box-shadow: 0px 0px 5px 2px #ff550088;
    border-radius: 50%;
}

.first button img {
    width: 60px;
    object-fit: contain;
}


.font2 {
    font-family: 'Playwrite GB J', cursive;
    font-size: 20px;
    font-weight: 300;
}

/* 1 */
.box-type-1 {
    background-color: #c14a0e88;
    border-radius: 15px 0 0px 15px;
    flex: 1 1 400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    animation: slideInRight 1s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: -5px 10px 3px #96320052;
}

.box-type-1:hover {
    transform: translateY(-8px);
    box-shadow: -5px 15px 20px #96320052;
}

.box-type-1 div {
    padding: 20px;
    font-size: clamp(20px, 3vw, 35px);
}

.box-type-1 img {
    height: auto;
    max-height: 250px;
    max-width: 45%;
    object-fit: cover;
    border-radius: 15px 0 0px 15px;
}

/* 2 */

.box-type-2 {
    background-color: #c14a0e88;
    border-radius: 0 15px 15px 0;
    flex: 1 1 400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    animation: slideInLeft 1s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 10px 3px #96320052;
}

.box-type-2:hover {
    transform: translateY(-8px);
    box-shadow: 5px 15px 20px #96320052;
}


.box-type-2 div {
    padding: 20px;
    font-size: clamp(20px, 3vw, 35px);
}

.box-type-2 img {
    height: auto;
    max-height: 250px;
    max-width: 45%;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* حركة الدخول من اليمين */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        /* الكارت يبدأ بره الشاشة تماماً من اليمين */
        opacity: 0;
        /* يكون شفاف مش باين */
    }

    to {
        transform: translateX(0);
        /* يرجع لمكانه الطبيعي بالملي */
        opacity: 1;
        /* يظهر بوضوح كامل */
    }
}

/* حركة الدخول من الشمال */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        /* يبدأ بره الشاشة من الشمال */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* يرجع لمكانه الطبيعي مع تحريك بسيط لليسار */
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.footer {
    background-color: #c14a0e88;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.social-links img {
    width: 30px;
    margin-top: 10px;
}